body {
    background-color: transparent;
    background-image: url(assets/background.jpg);
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    cursor: url(assets/Mushroom\ 1.cur), auto;    
    }

   

.navbar {
    background-color: #272f34;
    color: whitesmoke; 
    letter-spacing: .5rem;   
}

.navbar-brand,
.nav-item {
    color: whitesmoke;
}

#random {
    height: auto;
    width: auto;
    font-size: 2rem;
    background-color:  #404a4a;
    opacity: 0.92;
    color: whitesmoke;
    margin: 10%;
    padding: 5%;
    border-radius: 15px 50px 30px;        
}

.card {
    background-color:transparent;
    border: 0rem;  
}

.title {
    font-size: 4rem;
    text-align: center;
    text-shadow: 2px 2px 20px #faf7f6, 2px 2px 20px rgb(248, 247, 247);
    font-weight: 500;
}


#aboutcard{    
    font-size: 1.5rem;
    text-align: center;
    background-color:  #404a4a;
    color: whitesmoke;
    margin: 0% auto;
    margin-right: 6rem;
    border-radius: 2rem;
    padding: 2%;
    opacity: .92;
}


.weather-card {
    background-color:  #404a4a;
    color: whitesmoke;
    text-align: center;
    padding: 5%;
    margin-left: 10%;
    border-radius: 15px 50px 30px;
    opacity: 0.92;

}

#gifs {
    width: auto;
    height: auto;
    float: left;
    margin: auto;
}

#row2 {
    margin: 2% auto;   
}


a {
    color: #849f82;
    font-size: 1.5rem;
    font-weight: 500;    
}


#us {   
    height: auto;       
    text-align: center;
    font-size: 1.5rem;    
    background-color: #404a4a;
    color: whitesmoke;    
    border-radius: 15px 50px 30px;
    opacity: 0.92; 
    float: left;
    width: 30rem;
    margin: 2rem;  
}

.card-img-top {
    padding: 2% ;
    border-radius: 15px 50px 30px;
}

.card-text {
    height: 25rem;
    font-size: 1.2rem;
    overflow: auto;
}

ul {
    color:  #404a4a;
}

i.fas.fa-crown {
    color: #faca6a;
}


.conversions {
    height: auto;
    width: auto;
    text-align: center;
    font-size: 1.5rem;
    background-color:  #404a4a;
    opacity: 0.92;
    color: whitesmoke;
    margin: 10%;
    margin-top: 10%;
    border-radius: 15px 50px 30px 5px;
}

.search-card {
    height: auto;
    width: auto;
    text-align: center;
    font-size: 1.5rem;
    background-color:   #404a4a;
    opacity: 0.92;
    color: whitesmoke;
    margin: 10%;
    margin-top: 10%;
    border-radius: 15px 50px 30px 5px;
}

#input-value {
    text-align: center;
}

.move-left {
    width: auto;
    box-shadow: none;
  }

.search-results {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    background-color:  #404a4a;
    opacity: 0.92;
    color: whitesmoke;
    margin: 0rem auto;
    border-radius: 50px;
    padding: 2%;
    /* float: right; */
}

.footer {

    text-align: center;
    background-color:#272f34;
    color: snow;
    margin-bottom: 0rem;
    font-size: 1rem; 
    letter-spacing: .5rem; 
    opacity: .8; 

}

a:hover {
    color:#b69982;
}

.recipe {
    font-size: 32px;
}

